{%extends "academics_base.html"%}

{%block academics%}
<div class="container bg-info-subtle">
    <h1 class="text-center">Class I</h1>
    <h3 class="text-left">Sylabus</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">no.</th>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>English</td>
            <td><a href="#">teacher english</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Hindi</td>
            <td><a href="#">teacher hindi</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>maths</td>
            <td><a href="#">teacher maths</a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>music</td>
            <td><a href="#">teacher music</a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Drawing</td>
            <td><a href="#">teacher drawing</a></td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock academics %}