{%extends 'base.html'%}
{% block content %}
<div class="p-5 mb-4 rounded-3" style="background-image: linear-gradient(to right, red , skyblue)">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Adimission Open</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <a class="btn btn-primary" href="{%url "register"%}" role="button">Register</a>
    </div>
  </div>

{% endblock content %}
