{% extends 'base.html' %} {% block content %}
<div class="m-5">
  <form
    action="{%url 'login'%}"
    method="post"
    class=" m-5"
  >
    {% csrf_token %}
    <div class="text-danger">
        {%if error %}
    <label class>{{error}}<label>
    {% endif %}
    </div>
    <div class="row my-2">
      <div class="col-md-6">
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          name="inputEmail"
          placeholder="Email"
          required
        />
        <div class="invalid-feedback">Please enter Email</div>
      </div>
    </div>
    <div class="row my-2">
        <div class="col-md-6">
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password" >
              <div class="invalid-feedback">Please enter password</div>
            </div>
    </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>
  window.onbeforeunload = function () {
    localStorage.setItem("email", $("#inputEmail").val());
  };
  window.onload = function () {
    var email = localStorage.getItem("email");
    if (email !== null) $("#inputEmail").val(email);
  };
</script>
{% endblock content %}
